<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" .}}
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
    <style>
      #editor {
        min-height: 50vh;
      }
    </style>
  </head>
  <body>
    <div class="container h-100">
      <div class="row p-4">
        <div class="col-12">
          <h2 class="text-success fw-light text-center">SopherTextAudio</h3>
          <p class="lead text-center">
            Converts your text to an audio file you can listen to on the go.
          </p>
          <p class="h3 fw-light text-center">Copy. Paste. Listen.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <audio id="player">
            <source src="" type="audio/mpeg">
          </audio>
        </div>
        <div class="col-12 justify-content-center">
          <div id="editor">
            <p>Paste your text here and click Convert!</p>
          </div>
        </div>
        <div class="my-5 col-12 d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-success" onclick="sendText()">
            Convert
          </button>
        </div>
      </div>
    </div>
    {{ template "footer" .}}
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
      var quill = new Quill("#editor", {
        theme: "snow",
      });
      /**
       * Gets the token from local storage or redirects to the login screen
       * */
      function getTokenOrRedirectToLogin() {
        let tokenString = window.localStorage.getItem("token");
        if (!tokenString) {
          window.location.assign("/login");
        }
        return tokenString;
      }

      /**
       * Plays the audio that has been passed to it 
       * */
      function playAudio(audioBlob) {
        const audioFileUrl = window.URL.createObjectURL(audioBlob);
        const playerElement = document.getElementById("player");
        playerElement.src = audioFileUrl;
        playerElement.play();
      }

      /**
       * Sends the text to the remote server and download the file
       * */
      function sendText() {
        let tokenString = getTokenOrRedirectToLogin();
        if (!tokenString) {
          return;
        }

        const body = JSON.stringify({
          text: quill.getText(),
        });

        fetch("/", {
          method: "POST",
          body,
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${tokenString}`,
          },
        })
          .then((resp) => resp.blob())
          .then((blob) => {
            playAudio(blob);
          })
          .catch((err) => {
            alert(err);
          });
      }

      // check this first so that user does not waste time
      getTokenOrRedirectToLogin();
    </script>
  </body>
</html>
