<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" .}} <meta name="google-signin-client_id" content="{{
    printf "%s" .Body }}" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div class="container h-100">
      <div class="row h-100">
        <div
          class="col-12 d-flex justify-content-center align-items-center h-100"
        >
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
      </div>
    </div>
    <script>
      function onSignIn(googleUser) {
        const googleToken = googleUser.getAuthResponse().id_token;
        const body = JSON.stringify({ GoogleJWT: googleToken });

        fetch("/login", {
          method: "POST",
          body,
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((resp) => {
            if (!resp.ok) {
              throw new Error("You are not permitted here.");
            }
            return resp.json();
          })
          .then((data) => {
            window.localStorage.setItem("token", data.token);
            window.location.assign("/");
          })
          .catch((err) => {
            window.location.assign(`/error?msg=${encodeURIComponent(err)}`);
          });
      }
    </script>

    {{ template "footer" .}}
  </body>
</html>
